.env
.env.local
.env.development
.env.test
.env.production
app/__pycache__/*
.DS_Store
docs/desktop.ini
app/static/uploads/*
!app/static/uploads/default.jpg
!app/static/uploads/samples
!app/static/uploads/samples/*
logs/
*.log
Thumbs.db
*.pyc
__pycache__/
.vscode/
.idea/