#account {
    .delete {
        color: #FFF;
        background-color: #ff7260;
    }

    .button {
        margin-top: 24px;
    }

    .contents {
        margin: 24px;
    }

    .small {
        margin-top: 12px;
    }

    .log-out-container {
        display: flex;
        gap: 24px;
        margin-bottom: 24px;
        justify-content: center;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .button-container > a:first-child {
        margin-right: auto;
        width: auto;
        font-size: 20px;
    }
}