/* index css */
#index {
    .fas {
        color: #FFF;
    }

    .list-maganer-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }

    .list-maganer-container > div {
        flex: 1 1 calc(50% - 10px);
    }

    .select.tag-filter {
        display: flex;
        width: 100%;
        height: 44px;
    }

    .sort-container {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }

    .select.sort {
        width: calc(100% - 55px);
        height: 44px;
        border-radius: 10px 0 0 10px;
    }

    .button.sort {
        background-color: #3ebfbb;
        color: #FFF;
        width: 50px;
        height: 44px;
        margin-left: 5px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
        border-radius: 0 10px 10px 0;
        transition: background-color 0.2s;
    }
    
    .button.sort:hover {
        background-color: #26a7a2;
    }

    .button.sort i {
        color: #FFF;
    }

    .button.sort i {
        color: #FFF;
        transition: transform 0.2s ease;
    }
    
    .button.sort.asc i {
        transform: rotate(180deg);
    }

    .card {
        margin-bottom: 24px;
        text-align: left;
        position: relative;
        overflow: hidden;
        background-color: #fdfefe;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        background-color: #3ebfbb;
        transition: width 0.2s;
        z-index: 1;
    }
    
    .card:hover::before {
        width: 10px;
    }
    
    .card-link {
        display: block;
        text-decoration: none;
        color: inherit;
    }
    
    .card .card-title {
        font-size: large;
        font-weight: bold;
        word-wrap: break-word;
        margin-bottom: 4px;
        width: 50%;white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-photo {
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        height: auto;
        opacity: 0.5;
    }

    .card-photo-gradient {
        position: absolute;
        right: 170px;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 110%;
        background: linear-gradient(to right, #fdfefe 30%, rgba(233, 236, 239, 0) 100%);
    }
}