/* index css */
#index {
    .button {
        margin-top: 20px;
        margin-bottom: 30px;
        background-image: linear-gradient(-180deg, #00D775, #00BD68);
        color: #FFF;
        width: 100%;
    }

    .button:hover {
        background: #00bd68;
    }

    .fas {
        color: #FFF;
    }

    .card {
        margin-bottom: 24px;
        text-align: left;
        position: relative;
    }
    
    .card a {
        display: block;
        text-decoration: none;
        color: inherit;
    }
    
    .card .card-title {
        font-size: large;
        font-weight: bold;
        margin-bottom: 4px;
    }
}