/* index css */
#index {
    .fas {
        color: #FFF;
    }

    .list-maganer-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }

    .list-maganer-container > div {
        flex: 1 1 calc(50% - 10px);
    }

    .select.tag-filter {
        width: 100%;
    }

    .select.sort {
        width: calc(100% - 80px);        
    }

    .button.sort {
        background-color: #3ebfbb;
        color: #FFF;
        width: 70px;
        flex-shrink: 0;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
    }

    .button.sort i {
        color: #FFF;
    }

    .button.sort i {
        color: #FFF;
        transition: transform 0.2s ease;
    }
    
    .button.sort.asc i {
        transform: rotate(180deg);
    }

    .card {
        margin-bottom: 24px;
        text-align: left;
        position: relative;
        overflow: hidden;
        background-color: #fdfefe;
    }
    
    .card a {
        display: block;
        text-decoration: none;
        color: inherit;
    }
    
    .card .card-title {
        font-size: large;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .card-photo {
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;
        height: auto;
        opacity: 0.5;
    }

    .card-photo-gradient {
        position: absolute;
        right: 130px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 110%;
        background: linear-gradient(to right, #fdfefe 20%, rgba(233, 236, 239, 0) 100%);
    }
}