#view_record {
    .button-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .button-container > a:first-child {
        margin-right: auto;
    }

    .button-container > a:not(:first-child) {
        margin-left: 10px;
    }

    .button-container > a:nth-child(2) {
        margin-right: 10px;
    }

    .button {
        width: auto;
        font-size: 20px;
        background-color: #fdfefe;
    }
    
    .button:hover {
        background-color: #f0f0f0;
    }

    .button.delete {
        color: #FFF;
        background-color: #ff7260;
    }

    .button.delete:hover {
        background-color: rgb(218, 35, 35);
    }

    .contents {
        margin: 0 auto;
        padding: 20px;
        background-color: #fdfefe;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .contents > * {
        margin-bottom: 10px;
    }

    .contents > *:last-child {
        margin-bottom: 0;
    }

    .data-name-label {
        width: 20%;
        padding: 10px;
        font-weight: bold;
    }

    .data-value-label {
        width: 80%;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        font-family: inherit;
        background-color: #fff;
    }

    .data-value-label.no-data {
        color: #ccc;
    }

    .small {
        margin-top: 12px;
    }

    .tag {
        color: #3ebfbb;
        font-weight: bold;
    }
}