<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント設定</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
</head>
<body>
    <div id="account" class="container">
        <header>
            <div class="header-container">
                <a href="{{ url_for('index') }}" class="header-title">魚の記録帳</a>
                <a class="account-icon">{{ user.user_name[:1] }}</a>
            </div>
        </header>

        <p class="title-border">アカウント</p>

        <div class="button-container">
            <a href="{{ url_for('index') }}" class="button"><i class="fa-solid fa-house"></i></a>
        </div>
        
        <form action="/change_password" method="POST" class="modern-form">
            <h2>ユーザ名</h2>
            <h3 class="contents">{{ user.user_name }}</h1>
            
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>パスワードを変更する</h2>
            <div class="contents">
                <label for="current_password">現在のパスワード</label>
                <input type="password" id="current_password" name="current_password" required>
                <label for="new_password">新しいパスワード</label>
                <input type="password" id="new_password" name="new_password" required>
                <button type="submit" class="button">変更</button>
            </div>
        </form>

        <div class="log-out-container">
            <form action="/logout" method="GET">
                <button type="submit" class="button">ログアウト</button>
            </form>
    
            <form action="/delete_account" method="POST" onsubmit="return confirm('本当にアカウントを削除しますか？');">
                <button type="submit" class="delete button">アカウントを削除</button>
            </form>
        </div>
    </div>
</body>
</html>
