<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>魚の記録帳 - {{ record.fish_name }} 編集</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_record.css') }}">
</head>
<body>
    <div id="edit_record" class="container">
        <header>
            <div class="header-container">
                <a href="{{ url_for('index') }}" class="header-title">魚の記録帳</a>
                <a href="{{ url_for('account') }}" class="account-icon">
                    <div class="icon-initial">{{ user.user_name[:1] }}</div>
                    <div class="username">{{ user.user_name }}</div>
                </a>
            </div>
        </header>

        <p class="title-border">記録 - 編集</p>

        <div class="button-container">
            <a href="{{ url_for('index') }}" class="button"><i class="fa-solid fa-house"></i></a>
            <a href="{{ url_for('view_record', record_id=record.record_id) }}" class="button"><i class="fa-solid fa-arrow-left"></i></a>
        </div>

        <form action="{{ url_for('edit_record', record_id=record.record_id) }}" method="POST" class="modern-form" style="margin-top: 0;" enctype="multipart/form-data" onsubmit="return validateForm()">
            <label for="photo">画像（画像か名称は必須です）</label>
            <img id="photo-preview" class="photo-preview"
            {% if record.photo_path != 'default.jpg' %}
            src="{{ url_for('static', filename='uploads/' + record.photo_path) }}"
            {% else %}
            src="#" style="display: none;"
            {% endif %}
            alt="写真プレビュー">
            <div style="display: flex;" class = form-button-container>
                <input type="file" id="photo" name="photo" class="form" onchange="previewImage(event)">
                <button type="button" class="button" onclick="clearPreviewImage()"><i class="fa-solid fa-trash"></i></button>
            </div>

            <label for="fish_name">名称（画像か名称は必須です）</label>
            <input type="text" id="fish_name" name="fish_name"
                {% if record.fish_name != "無銘の魚" %}
                    value="{{ record.fish_name }}"
                {% endif %}
            placeholder="例: サケ">

            <label for="location">場所</label>
            <input type="text" id="location" name="location" placeholder="例: 東京湾"
            {% if record.location != "NoData" %}
                value="{{ record.location }}"
            {% endif %}
            >

            <div style="display: flex; flex-wrap: wrap; column-gap: 10px; row-gap: 10px;">
                <div style="flex: 1 1 calc(50% - 10px);">
                    <label for="length">全長(cm)</label>
                    <input type="number" id="length" name="length" step="0.01" placeholder="例: 50.5"
                    {% if record.length != 999999 %}
                        value="{{ record.length }}"
                    {% endif %}
                    >
                </div>
                <div style="flex: 1 1 calc(50% - 10px);">
                    <label for="date">日付</label>
                    <input type="date" id="date" name="date"
                    {% if not record.is_default_date() %}
                        value="{{ record.date }}"
                    {% endif %}
                    >
                </div>
            </div>
            <label for="memo">メモ（＃でハッシュタグを追加できます）</label>
            {% if record.memo != "NoData" %}
            <textarea id="memo" name="memo" oninput="previewTags()">{{ record.memo }}</textarea>
            {% else %}
            <textarea id="memo" name="memo" oninput="previewTags()"></textarea>
            {% endif %}

            <label for="tag-container">タグプレビュー:</label>
            <div id="tag-container" class="tag-container"></div>
            <button type="submit" class="button">記録を更新</button>
        </form>
    </div>
    
    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>        
    <script src="{{ url_for('static', filename='js/validate-form.js') }}"></script>
</body>
</html>
