<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=yes">
    <title>魚の記録帳</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="index" class="container">
        <header>
            <h1 class="header-title">魚の記録帳</h1>
            <a href="{{ url_for('account') }}" class="account-icon">B</a>
        </header>
        <a href="{{ url_for('show_create_record') }}" class="button">
            <i class="fas fa-pencil-alt"></i> 記録する
        </a>
        
        <div style="display: flex; flex-wrap: wrap; column-gap: 10px; row-gap: 10px;">
            <label style="width: 100%;">絞り込み:</label>
            <select class="select" id="filter" style="flex: 1 1 calc(50% - 10px);">
                <option value="0">All</option>
                <option value="1">魚の種類別</option>
                <option value="2">場所別</option>
                <option value="3">時期別</option>
            </select>

            <select class="select" id="filter-detail" disabled style="flex: 1 1 calc(50% - 10px);">
                <option value="">絞りこみなし</option>
            </select>

            <label style="width: 100%;">並び替え:</label>
            <select class="select" id="sorter" style="flex: 1 1 calc(50% - 10px);">
                <option value="0">新着順</option>
                <option value="1">名前順</option>
                <option value="2">サイズ順</option>
            </select>
            
            <select class="select" id="sorter-order" style="flex: 1 1 calc(50% - 10px);">
                <option value="0">降順</option>
                <option value="1">昇順</option>
            </select>
        </div>

        <script src="{{ url_for('static', filename='js/filter.js') }}"></script>

        <div class="records" style="margin-top: 24px;">
            <h2 class="title-border">魚記録</h2>

            {% if not records %}
                <p>まだ記録がありません。</p>
            {% endif %}
 
            <ul>
                {% for record in records %}
                <li class="card">
                    <a href="{{ url_for('view_record', record_id=record.record_id) }}">
                        <div class="card-title">{{ record.fish_name }}</div>
                        <p class="small">作成日: {{ record.created_at.strftime('%Y年 %m月 %d日 %H:%M') }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
