<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=yes">
    <title>魚の記録帳</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="index" class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <header>
            <div class="header-container">
                <a href="{{ url_for('index') }}" class="header-title">魚の記録帳</a>
                <a href="{{ url_for('account') }}" class="account-icon">{{ user.user_name[:1] }}</a>
            </div>
            <a href="{{ url_for('show_create_record') }}" class="button create">
                <i class="fa-solid fa-fish" style="color: #fff;"></i> 記録する
            </a>
        </header>
        
        <p class="title-border">魚記録</p>

        <div class="list-maganer-container">
            <div>
                <label for="tag-filter">タグで絞り込み</label>
                <select class="select tag-filter" id="tag-filter">
                    <option value="0">All</option>
                    {% for tag in tags %}
                        <option value="{{ tag.tag_id }}">{{ tag.tag_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="sort">並び替え</label>
                <div class="sort-container">
                    <select class="select sort" id="sort">
                        <option value="0">作成順</option>
                        <option value="1">日付順</option>
                        <option value="2">名前順</option>
                        <option value="3">サイズ順</option>
                        <option value="4">場所名順</option>
                    </select>
                    <button id="sort-order-button" class="button sort"><i class="fa-solid fa-arrow-down"></i></button>
                </div>
            </div>
        </div>

        <div class="records" style="margin-top: 24px;">
            <p class="record-count" style="margin: 10px 0;">
                {% if not records %}
                    まだ記録がありません。
                {% else %}
                    {{ records|length }} 件中 {{ records|length }} 件を表示
                {% endif %}
            </p>

            <ul>
                {% for record in records %}
                <li class="card">
                    <a href="{{ url_for('view_record', record_id=record.record_id) }}">
                        {% if record.photo_path != 'default.jpg' %}
                        <img src="{{ url_for('static', filename='uploads/' + record.photo_path) }}" class="card-photo">
                        <div class="card-photo-gradient"></div>
                        {% endif %}
                        <div class="card-title">{{ record.fish_name }}</div>
                        <p class="small">作成日: {{ record.created_at_jst }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/record-list-manager.js') }}"></script>
</body>
</html>
