<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>魚の記録帳 - {{ record.fish_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_record.css') }}">
</head>
<body>
    <div id="view_record" class="container">
        <h1 class="title-border">
            記録 - {{ record.fish_name }}
        </h1>

        <div style="display: flex; gap: 10px;">
            <a href="{{ url_for('index') }}" class="button">メモ一覧に戻る</a>

            <a href="{{ url_for('edit_record', record_id=record.record_id) }}" class="button">メモを編集</a>
            
            <form method="POST" action="{{ url_for('delete_record', record_id=record.record_id) }}">
                <button type="submit" class="delete button">メモを削除</button>
            </form>
        </div>

        <div class="contents">
            <img src="{{ url_for('static', filename='uploads/' + record.photo_path) }}" alt="{{ record.fish_name }}">

            {% if record.memo == "NoData" %}
            <p style="color: #ccc;">
                メモはありません
            {% else %}
            <p>
                {{ record.memo }}
            {% endif %}
            </p>
            <p class="small">作成日: {{ record.created_at.strftime('%Y年 %m月 %d日 %H:%M') }}</p>
        </div>

    </div>
</body>
</html>
